.checkout-summary-container {
    position: absolute;
    top: 50%;
    left: 1040px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 450px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    margin: auto;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 0 5px 2px #14985c;
}

.order-summary {
    position: absolute;
    top: 30px;
    align-self: center;
    font-size: 27px;
}

.order-summary-underline {
    position: absolute;
    display: block;
    border-bottom: 1px solid black;
    margin-top: 5px;
    width: 240px;
    left: -19px;
    align-self: center;
    background-color: var(--summary-accent);
}

.subtotal-title {
    position: absolute;
    top: 80px;
    left: 20px;
}

.subtotal {
    position: absolute;
    top: 80px;
    left: 215px;
}

.placeorder button {
    position: absolute;
    color: white;
    background-color: rgba(0, 108, 209, 0.63);
    border: 2px solid rgba(0, 108, 209, 0.63);
    border-radius: 5px;
    width: 175px;
    height: 35px;
    top: 420px;
    right: 55px;
    font-weight: bold;
    align-self: center;
}

.placeorder button:disabled {
    position: absolute;
    color: white;
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    width: 175px;
    height: 35px;
    top: 420px;
    font-weight: bold;
    align-self: center;
}

.placeorder button:disabled:hover {
    background-color: grey;
}

.placeorder button:hover {
    background-color: rgba(0, 93, 192, 0.63);
}

.shipping-options {
    position: absolute;
    top: 120px;
}

.shipping-options-title {
    font-weight: bold;
}

.total-title {
    position: absolute;
    top: 200px;
    left: 20px;
}

.total {
    position: absolute;
    top: 200px;
    left: 195px;
}

.cart-display-container {
    position: absolute;
    top: 50%;
    left: 475px;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    border: 2px solid grey;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

.cart-display-container .products-container {
    position: absolute;
    margin-top: 100px;
    flex-direction: column;
}

.recently-deleted {
    position: absolute;
    top: 360px;
    left: 475px;
    transform: translate(-50%, -50%);
    width: 705px;
    min-height: 150px;
    height: auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    margin: auto;
    margin-top: 10px;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    border: 2px solid grey;
}

.checkout-container {
    position: relative;
    top: 200px;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    margin-bottom: 900px;
    margin-top: 100px;
}

.cart-product-display {
    font-weight: bold;
    margin-bottom: 70px;
    align-items: center;
}

.cart-product-display .img-container {
    position: absolute;
    width: 110px;
    height: 110px;
    border: 2px solid black;
    left: 0;
}
.cart-product-display img {
    width: 100%;
    height: 100%;
}

.cart-product-display .quantity {
    position: relative;
    font-weight: 500;
    font-size: 13px;
    top: 60px;
    left: -25px;
}

.cart-product-display .quantity button {
    position: relative;
    border: 1px solid rgb(95, 95, 95);
    background-color: rgba(0, 108, 209, 0.63);
    height: 15px;
    left: 10px;
    align-items: center;
    display: inline-flex;
    color: white;
}

.cart-product-display .quantity button:hover {
    border: 1px solid rgb(95, 95, 95);
    background-color: rgba(0, 93, 192, 0.63);
}

.cart-product-display .price {
    position: relative;
    top: 47%;
    left: 200px;
}

.cart-product-display .name {
    position: relative;
    left: 47%;
}

.cart-product-display .instock {
    position: relative;
    color: green;
    font-weight: 500;
    font-size: 13px;
    top: 20px;
    left: 40px;
}

.cart-product-display .buttons button {
    position: relative;
    top: 60px;
    left: 48%;
    color: white;
    height: 5px;
    border: 1px solid rgb(95, 95, 95);
    background-color: rgba(0, 108, 209, 0.63);
    align-items: center;
    display: inline-flex;
}

.cart-product-display .buttons button:hover {
    background-color: rgba(0, 93, 192, 0.63);
}

.underlay .order-confirmation {
  position: fixed;
  width: 550px;
  height: 550px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.underlay .order-confirmation img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.underlay .order-confirmation .title {
    position: relative;
    color: green;
    text-align: center;
}

.underlay .order-confirmation .buttons {
    display: flex;
    justify-content: center;
}

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.checkout-container .cart-title {
    position: absolute;
    top: -300px;
    left: 120px;
    margin-top: 10px;
}

.checkout-summary-container .shipping-info {
    margin-top: 80px;
}

.checkout-summary-container .payment-info {
    margin-top: 10px;
}

.checkout-container .checkout-form-container {
    position: fixed;
    width: 400px;
    height: 510px;
    background-color: whitesmoke;
    color: black;
    z-index: 10;
    border-radius: 15px;
    top: -130px;
    left: 500px;
    box-shadow: 0 0 5px 1px #14985c;
}

.checkout-container .checkout-form-container form input {
    background-color: #ffffff;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #000000;
    width: 60%;
    height: 20%;
    padding: 8px;
    margin: 4px;
}

.checkout-container .checkout-paymentform-container {
    position: fixed;
    width: 600px;
    height: 400px;
    z-index: 10;
    top: -100px;
    left: 450px;
}

.checkout-container .checkout-paymentform-container .close button {
    position: absolute;
    color: white;
    background-color: rgba(0, 108, 209, 0.63);
    border: 2px solid rgba(0, 108, 209, 0.63);
    border-radius: 5px;
    width: 100px;
    height: 35px;
    top:430px;
    left: 175px;
    font-weight: bold;
    font-size: 13px;
    align-self: center;
    text-align: center;
}

.checkout-container .checkout-paymentform-container .close button:hover {
    background-color: rgba(0, 93, 192, 0.63);
}
