.signin-container {
    width: 25%;
    height: 60%;
    margin: 1 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dadadac9;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
    z-index: 0;
}

.signinHome {
    position: fixed;
    bottom: 0;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    background-color: #dadadac9;
    border: 5px solid #000000;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 125px;
    height: 50px;
}

.signinInGoogleButton {
    position: absolute;
    top: 75%;
    left: 28%;
}

.signinEmail{
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #ffffff;
    width: 40%;
    height: 10%;
    position: absolute;
    top:25%;
    left: 30%;
}

.signinPassword {
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #ffffff;
    width: 40%;
    height: 10%;
    position: absolute;
    top:40%;
    left: 30%;
}

.siginLogin {
    background-color: #ffffff;
    position: absolute;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #000000;
    top: 58%;
    left: 42%;
    width: 19%;
    height: 6%;
}
