.signin-container {
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    width: 50%;
    height: 500px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 0 8px 2px var(--form-bg-accent);
}

.signin-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-form__container h1 {
    margin: 16px 0px;
    font-size: 40px;
    text-align: center;
    color: var(--text-primary);
}

.signin-form__container h2 {
    margin: 16px 0px;
}

.signin-container form input {
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #000000;
    width: 80%;
    height: 20%;
    padding: 8px;
    margin: 4px;
}

.signinLogin {
    color: white;
    background-color: rgba(0, 108, 209, 0.63);
    border: 2px solid rgba(0, 108, 209, 0.63);
    border-radius: 5px;
    width: 30%;
    margin-top: 16px;
    width: 80%;
}

.signin-container form input:focus {
    box-shadow: 0 0 5px 2px #14985c;
}
