.catalog-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    position: relative;
}

.catalog-view img {
    width: 150px;
    /*height: 300px;*/
    object-fit: cover;
    margin-bottom: 5px;
}

.catalog-view h1.name {
    font-size: 18px;
    margin-bottom: 10px;
}

.catalog-view p {
    width: 90px;
    font-size: 18px;
    margin-bottom: 10px;
}
.price {
    text-align: center;
}

.catalog-view .image-container {
    position: relative;
}

.catalog-view .image-container .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 5px;
}

.catalog-view .image-container:hover .text-overlay {
    opacity: 1;
}

.catalog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.catalog-item {
    width: 200px;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #dededea5;
    padding: 10px;
    box-shadow: 0 0 3px 1px var(--product-accent);
}

.catalog-item .instock {
    font-size: 17px;
    text-align: center;
    white-space: nowrap;
}

.catalog-item .outofstock {
    font-size: 17px;
    text-align: center;
    white-space: nowrap;
}

.catalog-addToCart {
    background-color: #cdcdcda5;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 125px;
}

.catalog-addToCart[disabled] {
    display: none;
}

.catalog-addToCart:hover {
    background-color: #5f5e5ea5;
    color: white;
}

.catalog-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    background-color: #891d0e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 125px;
}

.filter-container {
    position: relative;
    float: left;
    top: 30px;
}

.category-title {
    font-weight: bold;
}