.contact-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #14985c;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
    background-color: #147c4d;
}

.chat-icon {
    width: 30px;
    height: 28px;
    z-index: 3;
}

.contact-form-container {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    height: 375px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--contact-bg);
    margin: auto;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 0 5px 2px #14985c;
    font-weight: bold;
}

.contact-form-send {
    color: white;
    background-color: rgba(0, 108, 209, 0.63);
    border: 2px solid rgba(0, 108, 209, 0.63);
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.contact-form-container-input {
    background-color: var(--contact-input-bg);
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #000000;
    width: 70%;
    height: 3%;
    padding: 8px;
    margin: 4px;
    font-size: 15px;
}

.contact-form-container-input-message {
    background-color: var(--contact-input-bg);
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cacaca;
    color: #000000;
    width: 70%;
    height: 90px;
    padding: 8px;
    margin: 4px;
    font-size: 15px;
    resize: none;
}