@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

.features-top__container {
    display: flex;
    padding: 0px 16px;
    align-items: center;
}

.features-top__title {
    font-size: 24px;
}

.features-top__logos img {
    width: 125px;
    height: 125px;
    margin: 16px;
}

.reviews-stars__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.features-bottom__container {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
}

.features-bottom__reviews {
    margin: 0px 44px;
}

.features-bottom__reviews h1 {
    font-size: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.features-bottom__reviews h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #14985c;
}

.features-bottom__reviews p {
    font-size: 16px;
    margin-bottom: 40px;
}

.star-rating__container {
    display: flex;
}

.stars {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.stars img {
    width: 25px;
    height: 25px;
    margin: 8px;
}
