footer {
    font-family: "Montserrat", sans-serif;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    color: var(--text-primary);
    margin-top: auto;
}
