.hotProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #52b58812;
}

.hotProducts h1 {
    font-size: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.hotProducts p {
    font-size: 24px;
    margin-bottom: 16px;
}
